.pList-wrap ul{
    padding: 0;
}
.pList-wrap ul li{
    list-style: none;
}
.clear{
    clear: both;
}
.searchFilter{
    display: flex;   
    align-items: center;
    justify-content: center;
    width: 770px;
    padding: 5px 13px;
    transition-delay: 2s;
    animation: showA normal 1s;
    position: relative;
}
@keyframes showA{
    0%{
        bottom: 10px;
        opacity: 0.5;
        transform: rotateX(90deg);
    }
    100%{
        bottom: 0px;
        opacity: 1;
        transform: rotateX(0deg);
    }
}
@keyframes showB{
    0%{
        bottom: 0px;
        opacity: 0.7;
    }
    100%{
        bottom: 10px;
        opacity: 0;
        transform: rotateX(-90deg);
        display: none;
    }
}
.searchFilter.fade{
    animation: showB normal 1s;
}
.filterWrapper{
    color: #111;
    background-color: rgba(255,255,255,0.9);
    border: 1px solid;
    padding: 5px 15px;
    font-size: 12px;
    width: 150px;
}
.filterWrapper ul{
    padding: 0;
    text-align: left;
}
.filterWrapper li{
    list-style: none;
    padding: 5px 0px;
    margin: 0;
    line-height: 20px;
}
.filterWrapper li:hover{
    background-color: rgba(255,255,255,0.9);
}
.filterWrapper.scroll{
    width: 140px;
}
.filterWrapper.scroll ul{
    display: inline-block;
    overflow-y: scroll;
    max-height: 150px;
    margin: 5px;
    cursor: pointer;
}
.filterWrapper.scroll li{
    padding: 5px 10px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #888;
}
::-webkit-scrollbar-thumb {
    background: #4169e1; 
}  